/* Global Styles */
body {
    background-image: url('pic.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
}

/* Form Styles */
.form {
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent white background */
    width: 200%; /* Increase width to 90% of the viewport width */
    max-width: 1000px; /* Set a maximum width to prevent it from becoming too wide on larger screens */
    margin: 150px auto;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Increased box shadow for bolder appearance */
}


/* Heading Styles */
.form h1 {
    color: #008080; /* Teal blue color for headings */
    font-weight: 700; /* Use a higher font weight for bolder text */
}


/* Input Styles */
.form input[type="text"],
.form select {
    width: 100%; /* Make inputs and select elements fill the entire width of the form */
    padding: 10px; /* Add padding to inputs for better spacing */
    margin-bottom: 20px; /* Add margin bottom for better spacing between inputs */
    border: 1px solid #ccc; /* Add a border to inputs */
    border-radius: 6px; /* Rounded corners for inputs */
    box-sizing: border-box; /* Include padding and border in input's total width */
}

/* Button Styles */
.button {
    padding: 12px 30px; /* Increase padding for buttons */
    font-size: 18px;
    background-color: #008080;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    left:-50px;
    position:relative;/* Make the button text bold */
}

.button:hover {
    background-color: #008080;
}

/* Responsive Design */
@media (max-width: 768px) {
    .form {
        width: 90vw;
    }
}
